<!DOCTYPE html>
<html>
<head>
  <title>NestedFormBug</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery", "nested_form" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
